
<div class ="comment">
    <form class="" method="post" action="<%=parameter%>>">
        <div class="form-group">
            <textarea class="form-control" name="commentBody" rows="3" cols="30"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="button">Reply</button>
    </form>
</div>